    .subscribe-button {
        background-color: rgb(200, 0, 0);
        color: white;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
        margin-left: 10px;
        transition: opacity 0.15s;
        vertical-align: top;
    }

    .subscribe-button:hover{                
        /* hover is a pseudo class */
        opacity: 0.8;
    }

    .subscribe-button:active{
        opacity: 0.4;
    }

    .Join-Button:hover {
        background-color: rgb(41, 118, 211);
        color: white; 
    }

    .Join-Button:active{
        opacity:0.7;

    }


    .Join-Button {
        background-color: white;
        color: rgb(41, 118, 211);
        border-color: blue;
        border-width: 1px;
        border-style: solid;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 2px;
        cursor: pointer;
        transition: background-color 0.15s, 
        color 1s;
      


    }
    .Tweet-Button{
        background-color: rgb(29, 155, 240);
        color: white;
        border: none;
        border-radius: 45px;
        height: 30px;
        width: 60px;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        margin-left: 8px;
        transition: box-shadow 0.15s;
        vertical-align: top;
        

    }

    .Tweet-Button:hover{
            box-shadow: 5px 5px 10px rgba(0,0,0, 0.20)
    }
    